{% extends "layout.html" %}
{% block title %} Memory Pool {% endblock %}
{% block content %}
	<div class="well"> 
	<h1 class="page-header" id="setup"> Welcome!!</h1>
	<p class="lead" id="setup"> Start by uploading <strong>Memories</strong> or view them on <strong>Timeline</strong> 
	</p>
	<p id="setup">
		<a href="upload" class="btn btn-danger btn-group btn-lg">Upload Pictures</a>
	</p>
	<div class="lead text-info" id="setup">
		<strong>OR</strong>
	</div>
	<p id="setup">
		<a href="#" class="btn btn-success btn-group btn-lg">View on Timeline</a>
	</p>
	</div>
{% endblock %}