<!DOCTYPE html>
<html>
<head>
	{% block head %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title> {% block title %}Memory Pool{% endblock %} </title>
		<link rel="stylesheet" href="../static/css/custom.css" type="text/css"/>
	<link rel="stylesheet" href="../static/css/bootstrap.min.css" type="text/css"/>
	{% endblock %}	
</head>
<body>
  <script type="text/javascript" src="../static/js/jquery-2.0.3.min.js"></script>
	<script type='text/javascript' src='https://cdn.firebase.com/v0/firebase.js'></script>
	<script src="../static/js/bootstrap.min.js"></script>
	<div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
        </ul>
        <h1><a href="/">Memory Pool</a></h1>
      </div>
      {% block content %}
      {% endblock %}
      <div id="footer">
        {% block footer %}
        {% endblock %}
      </div>
	</div>
</body>
</html>